---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// variables

$base-font-family: 'Merriweather', serif;
$secondary-font-family: "Open Sans", sans-serif;
$code-font-family: Menlo, Monaco, "Courier New", monospace;

$base-font-size:   1rem;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 2em;
$base-letter-spacing: 0.01rem;


$spacing-unit: 30px;

$grey-color : #515151;
$brand-color: #2196f3; // material design Blue
$grey-color-light: #aaa;
$grey-color-dark:  #333;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
