/**
 * Site header
 */

.site-head {

  background-color: rgba(0,0,0,0.8);
  font-family: $secondary-font-family;
  padding: 0 22px;

  .site-head__nav {
    margin-bottom: 2rem;
    margin: 0 auto;
    max-width: 980px;
    padding: 10px 10px 0 10px;
  }
  ul.site-head__links {
    list-style: none;
    float: right;

    li {
        display: inline-block;
        padding: 0 10px;
    }

    a {
      color: $grey-color-light;
      font-weight: 300;
      text-decoration: none;

      + a {
        margin-left: .25rem;
      }
    }
  }

    &__title {
    font-weight: 600;
    font-size: 2rem;

    a {
      color: #FFF;
      text-transform: uppercase;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    span {
      color: #ddd;
    }
  }
}

.page {
  &-title {
    margin-bottom: 2rem;
  }
}

/**
 * Posts
 */

.post {
  &__description {
  font-size: 1.25rem;
  }
  &__title {
    margin-bottom: .25rem;
  }
  &__date {
    margin-bottom: 2rem;
    font-size: .75rem;
    text-transform: uppercase;
  }
}

/**
 * Page content
 */
.post-list {
  list-style-type: none;

  > li {
    margin-bottom: 1rem;

    > h2.post-list__link {
      // margin-bottom: .25rem;
      a {
        color: $grey-color-dark;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }

    > span.post-list__meta {
      font-size: .75rem;
      text-transform: uppercase;
      color: rgba(0,0,0,0.4);
    }
  }
}

.projects-list {
  a {
    color: $grey-color-dark;
  }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    text-align: center;
    margin-top: 100px;
}

.social-media-list {
    list-style: none;
    margin-left: 0;

    > li {
      display: inline-block;
      padding: 0 10px;
    }
}